@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
}
.preeloader {
  background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 999999;
}
.preloader-spinner {
  -webkit-animation: 1s ease-out 0s normal none infinite running pulsate;
  animation: 1s ease-out 0s normal none infinite running pulsate;
  border: 5px solid #006dfe;
  border-radius: 40px;
  display: block;
  height: 60px;
  left: 50%;
  margin: -30px 0 0 -30px;
  opacity: 0;
  position: fixed;
  top: 50%;
  width: 60px;
  z-index: 10;
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes pulsate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
body,
button,
input,
select,
optgroup,
textarea {
  color: #666;
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
  color: #444;
}

p {
  color: #666;
  margin: 0;
  line-height: 28px;
}

a,
button,
input {
  font-weight: 600;
}

img,
a,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: all 0.4s ease;
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
}

p {
  color: #666;
  margin: 0;
  line-height: 28px;
}

.section {
  padding: 70px 0;
  position: relative;
}

.slicknav_menu {
  display: none;
}

.sticky {
  display: block;
}

#scrollUp {
  right: 10px;
  z-index: 33;
  bottom: 10px;
  text-align: center;
}
#scrollUp i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  background: transparent;
  background: #006dfe;
  border-radius: 3px;
  font-size: 19px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
  display: block;
  color: #fff;
  box-shadow: 0px 4px 19px #00000038;
}
#scrollUp i:hover {
  background: #fff;
  color: #333;
}

/* Navbar */
.site-header {
  position: relative;
}

.site-header .logo {
  margin-top: 25px;
}

.site-header .header-bottom {
  width: 100%;
  z-index: 333;
  background: #fff;
}

/* Main Menu */
.site-header .main-menu {
  background: transparent;
  z-index: 99;
  text-align: center;
  position: relative;
}

.site-header .button {
  color: #006dfe;
  border-radius: 30px;
  padding: 10px 30px;
  border-radius: 3px;
  display: inline-block;
  float: right;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.site-header .button:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #006dfe;
  z-index: -1;
  opacity: 0.2;
}

.site-header .button:hover {
  background: #006dfe;
  color: #fff;
}

.site-header .navigation {
  display: inline-block;
}

.site-header .nav li {
  position: relative;
  margin-right: 10px;
}

.site-header .nav li a {
  color: #666;
  font-size: 14px;
  text-transform: capitalize;
  display: inline-block;
  font-weight: 500;
  position: relative;
  padding: 30px 15px;
  z-index: 3;
}

.site-header .nav li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 50%;
  height: 34px;
  width: 0%;
  background: #006dfe;
  margin-bottom: -17px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 3px;
  z-index: -1;
}

.site-header .nav li:hover a:before {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.site-header .nav li:hover a {
  color: #fff;
}

.site-header .nav li.active a:before {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.site-header .nav li.active a {
  color: #fff;
}

.site-header .nav li a i {
  margin-left: 10px;
  font-size: 15px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.site-header .nav li a:hover {
  color: #fff;
}

.site-header .nav li:hover a i {
  transform: rotate(180deg);
}

/* Header Sticky */
.site-header.sticky .header-bottom {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: initial;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  animation: fadeInDown 0.5s both 0.5s;
  box-shadow: 0px 0px 13px #00000054;
}

/* BANNER */
.hero-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(45deg, #006dfe, #1407b3);
}

.hero-header-content p {
  color: #fff;
  margin-top: 20px;
}

.hero-header h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 55px;
  color: #fff;
}

.hero-header .button {
  margin-top: 20px;
}

.hero-header .btn {
  background: #fff;
  color: #333;
  border: none;
  box-shadow: none;
  border: 1px solid #fff;
  background: transparent;
  color: #fff !important;
  margin-right: 10px;
}

.hero-header .btn i {
  font-size: 13px;
  display: inline-block;
  margin-left: 4px;
}

.hero-header .btn:last-child {
  margin: 0;
}

.hero-header .btn:hover {
  background: #fff;
  color: #006dfe !important;
  border-color: transparent;
}

.hero-header .btn.primary {
  background: #fff;
  color: #006dfe !important;
  border-color: transparent;
}

.hero-header .btn:before {
  display: none;
}

.hero-header .hero-header-image {
  margin-top: 80px;
}

/* BLOG */
.blog {
  background: #fff;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 215px;
}

.section-title h2 {
  font-size: 35px;
  margin-bottom: 28px;
  text-transform: capitalize;
  position: relative;
  color: #333;
  font-weight: 400;
  padding-bottom: 20px;
}

.section-title h2:before {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: -1px;
  height: 2px;
  width: 50px;
  background: #006dfe;
  content: "";
}

.section-title p {
  font-size: 14px;
  color: #8d96bd;
}

.blog .single-news {
  background: #fff;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.blog .single-news img {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.blog .single-news .news-head {
  position: relative;
  overflow: hidden;
}

.blog .single-news .news-content {
  text-align: left;
  background: #fff;
  z-index: 99;
  position: relative;
  padding: 30px;
  position: relative;
  top: -25px;
  left: 0;
  z-index: 0;
  box-shadow: 0px 0px 10px #00000014;
  margin: 0px 15px;
}

.blog .single-news .news-body h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 25px;
}

.blog .single-news .news-body h2 a {
  color: #2c2d3f;
}

.blog .single-news .news-body h2:hover a {
  color: #006dfe;
}

.blog .single-news .news-content p {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 23px;
}

.blog .single-news .news-body .date {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
}

/* NEWS AND EVENT */
.blog {
  background: #fff;
}

.post-list {
  padding-left: 0;
}

.post-list-item {
  padding: 15px 0;
  display: flex;
}

.post-image {
  margin-right: 10px;
  height: 90px;
  width: 130px;
  overflow: hidden;
}

.post-image img {
  height: 90px;
  width: auto;
}

.post-content h5 {
  font-size: 18px;
  transition: 0.3s ease;
  color: #000;
}

.post-content h5:hover {
  color: #28abe3;
}

/* CONTACT */
.contact .inner {
  box-shadow: 0px 0px 10px #00000024;
  border-radius: 5px;
  overflow: hidden;
}

.contact .contact-left {
  width: 100%;
  height: 100%;
}

.contact .contact-form {
  padding: 50px 40px;
}

.contact .contact-form h2 {
  position: relative;
  font-size: 32px;
  color: #333;
  font-weight: 500;
  line-height: 27px;
  text-transform: capitalize;
  margin-bottom: 12px;
  padding-bottom: 20px;
  text-align: left;
}

.contact .contact-form h2:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: #1a76d1;
}

.contact .contact-form p {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  text-align: left;
  margin-bottom: 50px;
}

.contact .form {
  margin-top: 30px;
}

.contact .form .form-group {
  margin-bottom: 22px;
}

.contact .form .form-group input {
  width: 100%;
  height: 50px;
  border: 1px solid #eee;
  text-transform: capitalize;
  padding: 0px 18px;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
}

.contact .form .form-group textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #eee;
  text-transform: capitalize;
  padding: 18px;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
}

.contact .form .form-group.login-btn {
  margin: 0;
}

.contact .form button {
  border: none;
}

.contact .form .btn {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  line-height: 20px;
  width: 100%;
  cursor: pointer;
  padding: 10px 0px;
}

.contact .form .btn:hover {
  background: #1a76d1;
  color: #fff;
}

/* FOOTER */
.footer {
  background: #edf2ff;
  border-top: 1px solid #d8e3fe;
  padding: 100px 0 25px 0;
}

.footer li {
  margin-bottom: 5px;
  list-style: none;
}

.footer p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: unset;
  color: #666;
  margin-bottom: 0.3rem;
}

.footer p a {
  color: #3d4f9f;
}

.footer .single-footer.f-link li a {
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
}

.footer .single-footer.f-link li a:hover {
  color: #006dfe;
  padding-left: 7px;
}

.footer h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #444;
  margin-bottom: 20px;
}

.footer .copyright {
  padding-top: 30px;
  border-top: 1px solid #dbdbdb;
  margin-top: 30px;
}


/* RESPONSIVE */
/* Tablet Screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Header Sticky */
  .section {
    padding: 70px 0px;
  }
  .section-title {
    margin-bottom: 50px;
    padding: 0px 109px;
  }
  .section-title h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .section-title p {
    font-size: 13px;
  }
  #scrollUp {
    bottom: 55px;
  }
  .site-header .nav li {
    margin-right: 0px;
  }
  .site-header .nav li a {
    padding: 18px 12px;
  }
  .site-header .logo {
    margin-top: 12px;
  }
  .site-header .button {
    margin-top: 10px;
    padding: 8px 17px;
    font-size: 12px;
  }
  .hero-header-content {
    padding: 0;
    padding-top: 30px;
    text-align: center;
    padding: 30px 50px 0 50px;
    display: block;
  }
  .hero-header h1 {
    font-size: 35px;
    text-align: center;
  }
  .hero-header p {
    text-align: center;
  }
  .hero-header-content .button {
    display: inline-table;
    text-align: center;
  }
  .hero-header .hero-header-image {
    margin-top: 0px;
  }

  .footer.section {
    padding: 70px 0px 20px 0;
  }
}
/* Mobile Screen */
@media only screen and (max-width: 767px) {
  .site-header.sticky .header-bottom {
    position: absolute;
    z-index: 999;
    top: initial;
    left: 0;
    bottom: initial;
  }
  .site-header .header-bottom {
    width: 100%;
    z-index: 333;
    position: absolute;
    position: relative;
    padding-bottom: 20px;
    background: #333;
  }
  .site-header .started{
    float: left;
    display: flex;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_menu {
    display: block;
    background: transparent;
    padding: 0;
  }
  .slicknav_btn {
    background: transparent;
    padding: 0;
    margin-top: -30px;
  }
  .slicknav_menu .slicknav_icon-bar {
    box-shadow: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_menu {
    display: block;
    background: transparent;
    padding: 0;
  }
  .slicknav_btn {
    background: transparent;
    padding: 0;
    margin-top: -30px;
  }
  .slicknav_menu .slicknav_icon-bar {
    box-shadow: none;
  }
  .slicknav_nav {
    clear: both;
    color: #fff;
    margin: 0;
    font-size: 0.875em;
    background: transparent;
    margin-top: 12px;
  }
  .slicknav_nav li a {
    color: #fff;
    transition: all 0.4s ease;
    background: none;
    padding: 7px 10px;
  }
  .slicknav_nav .slicknav_item a,
  .slicknav_nav .slicknav_parent-link a {
    padding: 0 10px;
    background: transparent;
  }
  .slicknav_nav li:hover a {
    color: #006dfe;
  }
  .slicknav_nav li .dropdown li a {
    color: #fff;
    background: transparent;
  }
  .slicknav_nav li .dropdown li a:hover {
    color: #006dfe;
  }
  .slicknav_nav li .slicknav_item {
    background: transparent;
  }
  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    padding: 0;
    margin: 0;
    padding: 6px 0;
    font-weight: 500;
  }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #fff;
    box-shadow: none;
    text-shadow: none;
  }
  .slicknav_nav .slicknav_arrow {
    color: #fff;
  }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 25px;
    height: 3px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  }
  .site-header .main-menu {
    display: none;
  }
  .section {
    padding: 70px 0px;
  }
  .section-title {
    margin-bottom: 40px;
    padding: 0px 10px;
  }
  .section-title h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .section-title p {
    font-size: 13px;
  }

  /* BANNER */
  .hero-header-content {
    padding: 0;
    padding-top: 30px;
    text-align: center;
    padding: 30px 10px 0 10px;
  }
  .hero-header h1 {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }
  .hero-header p {
    text-align: center;
  }
  .hero-header-content .button {
    display: inline-table;
    text-align: center;
  }
  .hero-header .hero-header-image {
    margin-top: 0px;
  }
  .hero-header input {
    width: 100%;
  }

  .footer.section {
    padding: 50px 0px 15px 0;
  }
  .footer .single-footer {
    margin-top: 20px;
  }
  .footer .footer-top {
    padding: 45px 0 0 0;
  }
  .footer .copyright-inner {
    padding: 12px 0;
  }
  .footer .copyright {
    margin-top: 25px;
    padding-top: 20px;
  }
}
/* Mobile Screen */
@media only screen and (max-width: 450px) {
  .section {
    padding: 70px 0px;
  }
  .section-title {
    margin-bottom: 40px;
    padding: 0px 10px;
  }
  .section-title h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .section-title p {
    font-size: 13px;
  }
  .button {
    padding: 8px 25px;
  }

  .hero-header-content {
    padding: 0;
    padding-top: 30px;
    text-align: center;
    padding: 30px 10px 0 10px;
  }
  .hero-header h1 {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }
  .hero-header p {
    text-align: center;
  }
  .hero-header-content .button {
    display: inline-table;
    text-align: center;
  }
  .hero-header .hero-header-image {
    margin-top: 0px;
  }
  .hero-header .btn {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .hero-header .btn:last-child {
    margin-bottom: 0;
  }

  .footer.section {
    padding: 50px 0px 15px 0;
  }
  .footer .single-footer {
    margin-top: 20px;
  }
  .footer .footer-top {
    padding: 45px 0 0 0;
  }
  .footer .copyright-inner {
    padding: 12px 0;
  }
  .footer .copyright {
    margin-top: 25px;
    padding-top: 20px;
  }
}
